@font-face {
  font-family: Prata;
  src: url("../fonts/Prata/Prata-Regular.woff2") format('woff2'),
       url("../fonts/Prata/Prata-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans/PTSans-Regular.woff2") format('woff2'),
       url("../fonts/PT_Sans/PTSans-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans/PTSans-Bold.woff2") format('woff2'),
       url("../fonts/PT_Sans/PTSans-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans";
  font-weight: normal;
  background-color: #f9fcfc;
  color: #021a23;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-family: Prata;
  font-weight: normal;
}

.second-title {
  /*бывший H2*/
  max-width: 220px;
  font-family: Prata;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  border-top: 1px solid #eec643;
  border-bottom: 1px solid #eec643;
}

@media (min-width: 1169px){
  .second-title{
    max-width: 560px;
  }
}

h3 {
  font-family: "PT Sans";
  font-weight: bold;
  margin: 0;
}


header{
  background-image: url(../img/bg_main.jpg);
  background-position: center;
  background-size: cover;
  height: 535px;
  width: auto;
  background-repeat: no-repeat;
  color: #fff;
}


@media (min-width: 1169px) {
  header {
    background-position: 0 0;
    background-size: cover;
    height: 765px;
  }
}

header a {
  color: #fff;

}

@media (min-width: 1169px){
   header a {
    color: #000;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  min-width: 320px;
  padding:0 16px;
  /*max-width: 280px;*/
  margin: 0 auto;
}

@media (min-width: 1169px){
  .container{
  margin:auto;
  }
}

@media (min-width: 1169px){
  .header__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.nav__wrapper{
  display: none;
  width: 100%;
  height: 235px;
  position: absolute;
  background-color: #000;
}

.nav__wrapper .logo{
  padding-left: 16px;
}



.main-menu {
  display: none;
  position: absolute;
  font-family: "PT Sans";
  font-weight: normal;
  height: 224px;
  width: 320px;
  /*background-color: #000;*/
  text-transform: uppercase;
}

@media (min-width: 1169px){
  .main-menu{
    position: unset;
    display: block;
    flex-direction:row;
    background-color: transparent;
    width: auto;
    height: auto;
  }
}

.visible {
  display: block;
}

.main-menu__list {
  display: flex;
  flex-direction: column;
}


@media (min-width: 1169px) {
  .main-menu__list{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  }
}

@media (min-width: 1169px){
  .main-menu__item{
    padding-left: 30px;
  }
}


/* .mobile-menu-bg {
pos
  background-color: #000;
} */

.main-menu__item {
  padding-bottom: 20px;
}

.logo {
  padding: 20px 0 25px 0;
}

@media (min-width: 1169px) {
  .logo {
    padding-top: 30px;
  }
}

.burger__button {
  /*content: "";
  background-image: url(../img/icon/sprite/sprites.png);
  background-position: -4px -161px ;
  background-repeat: no-repeat;
  width: 22px;
  height: 24px;
  position: absolute;
  top: 23px;
  right: 5%;*/
}

@media (min-width: 1169px) {
  .burger__button {
    display: none;
  }
}

.promo{
  display: none;
}

@media (min-width: 1169px) {
  .promo{
    display:block;
    margin-top: 150px;
  }
}

@media (min-width: 1169px) {
  .promo-mobile{
    display: none;

  }
}
.promo-mobile__title {
  margin-top: 80px;
  line-height: 42px;
}



.promo-mobile__subtitle {
  margin-bottom: 70px;
  max-width: 180px;
  line-height: 22px;
}


h1.promo__title{
  font-size: 55px;
  max-width: 695px;
}

.promo__subtitle{
  font-size: 20px;
  max-width: 440px;
  line-height: 28px;
}

.entry-lesson__button--horizontal {
  display: block;
  /*width: 280px;*/
  width: 95%;
  height: 60px;
  padding-top: 20px;
  background-color: #eec643;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 30px;
  /*margin-bottom: 30px;*/
}

@media (min-width: 1169px){
  .contacs__button-link{
    display: none;
  }
}


.burger__button-link {
  display: block;
  /*content: "";*/
  background-image: url(../img/icon/sprite/sprites.png);
  background-position: -4px -161px ;
  background-repeat: no-repeat;
  width: 22px;
  height: 24px;
  position: absolute;
  top: 23px;
  right: 5%;
}

.burger__button-close {
  background-image: url(../img/icon/sprite/sprites.png);
  background-position: -5px -205px ;
  width: 20px;
  height: 20px;
}

@media (min-width: 1169px) {
  .burger__button-link{
    display: none;
  }
}

section {
  margin-top: 5px;
}

@media (min-width: 1169px){
  section{
    margin-top: 45px;
  }
}


.courses{
  /*display: flex;
  flex-wrap:wrap;
  justify-content: space-between;*/
}

@media (min-width: 1169px) {
  .courses{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }
}

@media (min-width: 1169px) {
  .courses .second-title {
    height: 560px;
    font-size: 50px;
    line-height: 50px;
    writing-mode: vertical-rl;
    transform:rotate(-180deg);
    border-right:1px solid;
    border-left: 1px solid;
    border-top: none;
    border-bottom: none;
    border-color: #eec643;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.courses__list{
  max-width: 1060px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



@media (min-width: 1169px){
  .courses__list{
    /*width: 100%;*/
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-left: 15px;
  }
}

.course-card {
  width: 100%;
  height: 145px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}


.course-card:nth-of-type(1){
  background-image: url(../img/course_card_img_2.jpg);
}

.course-card:nth-of-type(2){
  background-image: url(../img/course_card_img_1.jpg);
}

.course-card:nth-of-type(3) {
  background-image: url(../img/course_card_img_3.jpg);
  width: auto;
  margin-bottom: 0;
  flex-grow: 1;
  margin-right: 15px;
}

.course-card:nth-of-type(4) {
  display: none;
  background-image: url(../img/course_card_img_4.jpg);
}

@media (min-width: 1169px) {
  .course-card{
    height: 270px;

  }
}

@media (min-width: 1169px){
  .course-card:nth-of-type(1){
    max-width: 540px;
    order: 2;
  }
}

@media (min-width: 1169px){
  .course-card:nth-of-type(2){
    max-width: 480px;
    order: 1;
    margin-bottom: 30px;

  }
}

@media (min-width: 1169px){
  .course-card:nth-of-type(3){
    max-width: 480px;
    order: 3;
    margin-right: 0;
  }
}

@media (min-width: 1169px){
  .course-card:nth-of-type(4){
    display: block;
    max-width: 255px;
    order: 4;
    margin-bottom: 0;
  }
}



.course-card__inner {
  display: inline-block;
  width: 200px;
  color: #fff;
  padding:30px 0px 0px 10px;
}

@media (min-width: 1169px){
 .course-card__inner{
    padding: 25px 0 0 30px;
 }
}

@media (min-width: 1169px){
  .course-card__title{
    font-size: 30px;
    line-height: 40px;
  }
}

p.course-card__description{
  margin: 0;
}

@media (min-width: 1169px){
  p.course-card__description{
    font-size: 20px;
    margin-top: 15px;
  }
}

.all-courses__button {
  display: block;
  width: 60px;
  height: 145px;
  position: relative;
  background-color: #eec643;
  color: #000;
  text-transform: uppercase;
  /* writing-mode:vertical-rl; */
  /* transform: rotate(-180deg); */
}
.all-courses__link{
  position: absolute;
  bottom: 44px;
  right: -18px;
  transform:rotate(-90deg);
}

@media (min-width: 1169px){
  .all-courses__button {
    display: block;
    width: 255px;
    height: 270px;
    order: 5;
  }
}
@media (min-width: 1169px){
  .all-courses__link{
    transform: none;
    top: 20px;
    left: 30px;
    max-width: 200px;
    font-size: 30px;
    line-height: 40px;
    text-transform: none;
    color: #fff;
  }

}

.advantages{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

@media (min-width: 1169px){
  .advantages{
    flex-wrap: nowrap;
  }
}


.advantages__left-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  /*flex-direction: column;*/
  width: 100%;
}

@media (min-width: 1169px){
  .advantages__left-block{
    width: 50%;
    margin-left: 7px;
    margin-right: 35px;
  }
}

.advantages__right-block {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;

  width: 100%;
}

@media (min-width: 1169px){
  .advantages__right-block{
    padding-top: 42px;
  }
}

@media (min-width: 1169px){
  .advantages .second-title{
    display: block;
    width: 560px;
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 28px;
  }
}

.advantages-card {
  width: 100%;
  height: 145px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
}

@media (min-width: 1169px){
  .advantages-card{
    width: 270px;
    background-position: -150px;

  }
}

.advantages-card__inner {
  display: inline-block;
  width: 200px;
  color: #fff;
  padding:30px 0px 0px 10px;
}

.advantages__left-block .advantages-card:nth-of-type(1) {
  background-image: url(../img/advantages_card_img_1.jpg);
  /*background-position: -100px;*/
}

.advantages__left-block .advantages-card:nth-of-type(2) {
  background-image: url(../img/advantages_card_img_2.jpg);
}

.advantages__right-block .advantages-card {
  background-image: url(../img/advantages_card_img_3.jpg);
  width: auto;
  flex-grow: 1;
  margin-right: 15px;
  background-position: top;
}

@media (min-width: 1169px) {
  .advantages__left-block .advantages-card{
    height: 465px;
  }
}

@media (min-width: 1169px){
  .advantages__left-block .advantages-card:nth-of-type(1){
    background-position: -100px;
  }
}

@media (min-width: 1169px) {

  .advantages__right-block .advantages-card{
    width: 260px;
    height: 565px;
    margin-bottom: 0;
  }
}

@media (min-width: 1169px){
  .advantages-card__inner{
    padding: 15px 0 0 30px;
  }
}

@media (min-width: 1169px){
  .advantages-card__title{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}

.advantages-card__text {
  line-height: 22px;
}

@media (min-width: 1169px) {
  .advantages-card__text {
    font-size: 20px;
    line-height: 28px;
  }
}


.entry-lesson {
  display: block;
  width: 60px;
  height: 145px;
  position: relative;
  background-color: #eec643;
  color: #fff;
  text-transform: uppercase;
  /* transform: rotate(-90deg); */
}

.entry-lesson__link {
  position: absolute;
  bottom: 28px;
  right: -1px;
  transform:rotate(-90deg);
}

@media (min-width: 1169px){
  .advantages__button{
    display: none;
  }
}

@media (min-width: 1169px){
  .video .second-title{
    height: 560px;
    font-size: 50px;
    line-height: 50px;
    writing-mode: vertical-rl;
    transform:rotate(-180deg);
    border-right:1px solid;
    border-left: 1px solid;
    border-top: none;
    border-bottom: none;
    border-color: #eec643;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1169px) {
  .contacts {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1169px){
  .contacts .second-title{
    width: 560px;
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 28px;
  }
}

.contacts__address{
  margin: 0;
}

.contacts__phone{
  color: #021a23;
  line-height: 30px;
}
@media (min-width: 1169px){
  .contacts__left-block{
    display: flex;
    flex-wrap: wrap;
    width: 870px;
  }
}

@media (min-width: 1169px){
  .contacts__right-block{
    padding-top: 45px;
  }
}

.contacts__inner{
  margin-left: 10px;
}

@media (min-width: 1169px){
  .contacts__inner{
    margin-top: 20px;
    align-self: center;
    margin-left: 30px;
  }
}

.map{
  margin: 15px 0 15px 0;
}

@media (min-width: 1169px){
  .map{
    display: none;
  }
}

.map-desktop{
  display: none;
}

@media (min-width: 1169px){
  .map-desktop{
    display: block;
    width: 870px;
    height: 470px;
  }
}

@media (min-width: 1169px){
  .social-navigation__list{
    display:flex;
    flex-direction: row;
  }
}

 .footer__inner {
  display: none;
 }

@media (min-width: 1169px){
  .footer__inner{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 50px 0 50px;
  }
}


.social-navigation__link {
  font-family: "PT Sans";
  text-transform: uppercase;
  color: #000;
  margin-left: 45px;
}


/*FORM style*/

.form__wrapper {
  display: none;
}

@media (min-width: 1169px) {
  .form__wrapper {
    display: block;
    position: relative;
  }
}

form{
  width: 260px;

  background-color: rgba(250,251,251,0.85);
  border: 2px solid #eec643;
}

fieldset{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 470px;*/
  /*width: 220px;*/
  /*margin: auto;*/
}
fieldset{
  width: 260px;
  /*height: 420px;*/
  position: relative;
  border: none;
  /*border: 2px solid #021a23;*/
  padding: 20px;
  margin: 0 auto;
  /*background-color: rgba(250,251,251,0.85);*/
}
legend{
  display: inline-block;
  position: absolute;
  /*width: 200px;*/
  /*left: 0;*/
  /*right: 0;*/
  margin: 0 auto;
  font-weight: bold;
  font-size: 30px;
  color: #eec643;
}

.form__text{
  margin: 45px 0 205px;
  color: rgba(2, 25, 36, 0.85);
  line-height: 28px;
  font-size: 20px;
}

input{
  font-size: 20px;
  height: 25px;
  width: 200px;
  margin-bottom: 20px;
  background-color: transparent;
  border-bottom: 2px solid #eec643;
  border-left-style:none;
  border-right-style:none;
  border-top-style:none;
}

.form-button{
  /*width: 90px;*/
  font-family: "PT Sans";
  width: 100%;
  height: 70px;
  background-color: #eec643;
  text-transform: uppercase;
  margin-top: 30px;
  color: #fff;
  border: none;
}

/*input {

}
input:nth-of-type(2) {
  background-color: transparent;
  border-bottom: 2px solid #eec643;
  border-left-style:none;
  border-right-style:none;
  border-top-style:none;
}*/

.select__wrapper{
  position: relative;

}

.select__wrapper select{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  width: 202px;
  height: 25px;
  border-radius: 1px;
  border: none;
  border-bottom: 2px solid #eec643;
  background-color: transparent;

  appearance: none;            /* remove arrow        */
  -webkit-appearance: none;    /* remove arrow Chrome */
  -moz-appearance: none;
}

.select__icon{
  position: absolute;
  bottom: 5px;
  left: 180px;
  width: 10px;
  height: 10px;
  background-image: url(../img/icon/Triangle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.promo__form form {
  border: 1px solid #021a23;
}

.promo__form legend {
  color: #021a23;
}

.promo__form .form__text{
  margin-bottom: 50px;
}

.promo__form .form-button {
  background-color: #021a23;
}

.promo__form input {
  border-color: #021a23;
}

.promo__form .select__wrapper select{
  border-color: #021a23;
}

.promo__form .select__icon{
  background-image: url(../img/icon/Triangle-dark.png);
}


/*Video блок*/

.video {
  /*display: flex;*/
}

.video .item {
  background-size: cover;
}



.owl-carousel{
  width: 85%;
  margin: auto;
  position: relative;
}

.owl-nav {
  position: relative;
}



.owl-carousel .owl-nav button.owl-prev{
  background-image:url(../img/icon/sprite/sprites.png);
  background-position: -9px -112px ;
  width: 10px;
  height: 18px;
  background-repeat: no-repeat;
  position: absolute;
  top: -90px;
  left: -20px;
}
.owl-carousel .owl-nav button.owl-next{
  background-image: url(../img/icon/sprite/sprites.png);
  background-position: -9px -63px ;
  width: 10px;
  height: 18px;
  background-repeat: no-repeat;
  position: absolute;
  top: -90px;
  right: -20px;
}

.video-link span{
  color: #fff;
  position: absolute;
  /*bottom: 35px;*/
  bottom: 18%;
  left: 10px;
  font-weight: bold;
}
.video-link p {
  margin: 0;
  color: #fff;
  position: absolute;
  bottom: 10%;
  left: 10px;
}

 span.second_video_span{
  bottom: 55px;
}

img.play_button_icon{
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 28px;
  height: 35px;
}